@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/header.css";
@import "components/user-components.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Nunito", sans-serif;
  height: 100vh;
  padding-top: 27px;
  color: #2e363e;
}
