.nav {
  padding: 20px 40px;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: #2e363e;
  text-decoration: none;
  position: relative;
}

.nav__notification {
  position: absolute;
  right: -8px;
  top: -16px;
}

.nav__alarm {
  background-color: tomato;
  width: 7px;
  height: 7px;
  display: flex;
  border-radius: 100%;
  position: absolute;
  right: -8px;
  top: -16px;
}
